*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 8, 43);
    color: #ffffff;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

main{
    width: 100vw;
    height:550px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.assessments{
    width: 500px;
    height: auto;
    background-color: rgb(10, 8, 43);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    border-radius: 30px;
    color: #ffffff;
    padding: 10px;
}

.title{
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;

}

.assessments table{
    border-collapse: collapse;
    width: 300px;
    text-align: center;
}

.assessments table th{
   border: 1px solid #ffffff;
   height: 25px;
}

.assessments table th i{
   color: rgb(235, 208, 56);
}


.assessments table td{
   font-size: 17px;
}

.assessments button{
    border: 1px solid #ffffff;
    text-decoration: none;
    width: 110px;
    height: 35px;
    font-size: 14px;
    text-align: center;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 5px;
    font-weight: 600;
}

.assessments button:hover{
    background: linear-gradient(rgb(57, 147, 163), rgb(22, 74, 95));
    color: #ffffff;
}

.containerAverage{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 18px;
}

.divTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.containerAverage p{
    font-style: oblique;
}

.containerAverage i{
    color: rgb(31, 216, 31);
}

.none{
    display: none;
}